* {margin:0; box-sizing:border-box;}
a {text-decoration:none;}
#front{
    width: 1100px;
    height: 600px;
    border: 3px solid #666;
    margin: 50px auto;
    
}

#front > h3{
    color: red;
    text-align: center;
    font-size: 35px;
}
#front > p{
    color: black;
    text-align: center;
    font-size: 20px;
    margin:20px 0px 30px;
}
#front > .box{
    width: 300px;
    height: 380px;
    border: 2px solid #ddd;
    float: left;
    padding: 10px;
    margin: 20px;
    box-shadow: 4px 4px 4px #eee;
}

#front > .box img{
    width: 200px;
    height:200px;
    width: 100%;
}
#front > .box > h5 {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 0 0;
    color: #000;
}
#front > .box > h5 >a{
    color: #000;
}
span {color:tomato;}
#front > .box > h5:after {content:" ~20%"; color:tomato;}
#front > .box > p{
    font-size: 12px;
    color: #666;
    text-align: center;
    margin: 20px 0 0 0;
}
#front > .box > p > a{
    color: #666;
}
#front > .box >button{
    background-color: tomato;
    border: none;
    color: #fff;
    display: block;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin: 20px auto;
}
#front > div:first-of-type {margin:0 0 0 50px;}
#front > div:nth-of-type(2) {margin:0 0 0 50px;}
#front > div:last-of-type {margin:0 0 0 50px;}